extends layout 

block content 
    h1= title 
    p Welcome to #{title}

    <form method= "POST" action= "/new">
    <label for= "name">Name:
    <input id= "name" name= "name" type= "text">
    </label>
    <label for= "message">Message: 
    <input id= "message" name= "message" type= "text">
    </label>
    <button type="submit">Submit</button>
    </form>