extends layout 

block content 
    h1= title
    <form method= "POST" action= "/login">
    <label for= "username">Username:
    <input id= "username" name= "username" type= "text">
    </label>
    <label for= "password">Password: 
    <input id= "password" name= "password" type= "text">
    </label>
    <button type="submit">Submit</button>
    </form>